# Node.js
node_modules/

# Env
.env

# Firebase secrets
build-hub-b043b-firebase-adminsdk-fbsvc-b6008c7b2f.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Dev helpers
getAPIKey.html
